<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tapbattle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0D97D071EBCF3D00086939C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D97D1B1EBCF3D00086939C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D97D261EBCF3D00086939C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
